*{
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.carousel{
  width: 38%;
  height: 80%;
  background-color: aqua;
}

.carousel-inner{
  height: 100%;
  width: 100%;
  display: flex;
  /* background: no-repeat center cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-inner .left{
  background-color: rgba(0,0,0, 0.6);
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
.carousel-inner .center{
  flex: 90%;
  height: 100%;
  display: grid;
  place-content: center;
  color: red;
  font-size: 50px;
}

.carousel-inner .right{
  background-color: rgba(0,0,0, 0.6);
  flex: 10%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
